<!DOCTYPE html>
<html>

<head>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <div id="app">
    <myheading></myheading>
    </div>
   
</head>

<script>
Vue.component('myheading', {
  template: `<div>
            <h1>School Activity System</h1>
            <title>Web App</title>
            </div>`
             
});
new Vue({
  el: "#app",
  data: {

  }
})
</script>
<body>

    <form id="register">
        <label>Email: </label>
        <input type="email" id="email" v-model="email" required="required">
        <br><br>
        <label>Username: </label>
        <input type="text" id="username" v-model="username">
        <br><br>
        <label>Password: </label>
        <input type="password" id="password" v-model="password">
        <br><br>
        <button type="submit" id="registerBtn" v-on:click="submitRegister">Register</button>

    </form>
<br><br>
    <form id="login">
           <label>Username: </label>
            <input type="text" id="username" v-model="loginUsername">
            <br><br>
            <label>Password: </label>
            <input type="password" id="loginPassword" v-model="loginPassword">
            <br><br>
            <button type="button" id="registerBtn" v-on:click="log">Log In</button>
    
        </form>
        <br><br>

</body>
<script src="js.js"></script>


</html>