<!DOCTYPE html>
<html>

<head>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <div id="app">
        <myheading></myheading>
    </div>

</head>

<script>
    Vue.component('myheading', {
        template: `<div>
            <h1>School Activity System</h1>
            <title>Web App</title>
            </div>`

    });
    new Vue({
        el: "#app",
        data: {

        }
    })
</script>

<body>
    <div>
        <input type="checkbox" id="userChk" onclick="userRegShow()"> User
        <input type="checkbox" id="adminChk" onclick="adminRegShow()"> Admin

    </div>
    <br>
    <div id="hideUserRegister" onclick="" style="display:none">
        <form id="register">
                <h3>User Register</h3>
            <label>Email: </label>
            <input type="email" id="email" v-model="email" required="required">
            <br><br>
            <label>Username: </label>
            <input type="text" id="username" v-model="username">
            <br><br>
            <label>Password: </label>
            <input type="password" id="password" v-model="password">
            <br><br>
            <button type="submit" id="registerBtn" v-on:click="submitRegister">Register</button>

        </form>


        <br><br>
        <br><br>

        <form id="login">

                <h3>User Login</h3>
            <label>Username: </label>
            <input type="text" id="username" v-model="loginUsername">
            <br><br>
            <label>Password: </label>
            <input type="password" id="loginPassword" v-model="loginPassword">
            <br><br>
            <button type="button" id="registerBtn" v-on:click="log">Log In</button>

        </form>
        <br><br>
    </div>


    <div id="hideAdminRegister" onclick="" style="display:none">
        <form id="adminRegister">
            <h3>Admin Register</h3>
            <label>Admin ID: </label>
            <input type="number" id="adminID" v-model="admId" required="required" placeholder="numbers only">
            <br><br>
            <label>Email: </label>
            <input type="email" id="adminEmail" v-model="admEmail" required="required">
            <br><br>
            <label>Username: </label>
            <input type="text" id="adminUsername" v-model="admUsername">
            <br><br>
            <label>Password: </label>
            <input type="password" id="adminPassword" v-model="admPassword">
            <br><br>
            <button type="submit" id="admingRegisterBtn" v-on:click="submitAdminRegister">Register</button>

        </form>


        <br><br>
        <br><br>


        <form id="adminLogin">
            <h3>Admin Login</h3>
            <label>Admin ID: </label>
            <input type="number" id="adminIDLog" v-model="loginAdmID" required="required">
            <br><br>

            <label>Password: </label>
            <input type="password" id="admloginPassword" v-model="loginAdmPassword">
            <br><br>
            <button type="button" id="admLogInBtn" v-on:click="admLog">Log In</button>

        </form>
        <br><br>
    </div>

</body>
<script src="./js/index.js"></script>


</html>