<!DOCTYPE html>
<html>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
<head>
    <h1>User Service</h1> 
    <h3 id="displayUser"></h3>
<script>
var a = localStorage.getItem('loggedUser');
document.getElementById('displayUser').innerHTML = "Activity System for User" + a;
</script>
   
 
 
</head>

<body>
    <div id="app4" class="container mt-4">
            <button class="btn btn-secondary" onclick="logOut()">Log Out</button>
            
        <h3>Search Activities: <input class="form-control" v-model="filterText" /></h3>
        <h3>Sort Activity by:
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-secondary">
                    <input type="radio" name="options" id="option1" autocomplete="off" v-on:click="sortLowest">
                    Lowest Review Score
                </label>
                <label class="btn btn-secondary">
                    <input type="radio" name="options" id="option2" autocomplete="off" v-on:click="sortHighest"> Highest
                    Review Score
                </label>
                <label class="btn btn-secondary">
                    <input type="radio" name="options" id="option3" autocomplete="off" v-on:click="sortHighestPrice"> Most Expensive
                </label>
                <label class="btn btn-secondary">
                    <input type="radio" name="options" id="option4" autocomplete="off" v-on:click="sortLowestPrice"> Cheapest
                </label>
                <label class="btn btn-secondary">
                    <input type="radio" name="options" id="option5" autocomplete="off" v-on:click="sortActivLow"> Alpha Low
                </label>
              
            </div>
        </h3>
        
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th v-for="title in columns">
                        {{ title }}
                    </th>
                   
                </tr>
            </thead>
            <tbody>
                <tr v-for="items in filteredActivitys">
                    <td v-for="content in columns">
                        {{items[content]}}
                    </td>
                </tr>
            <tbody>
        </table>
    </div>
    <script src="./js/tableContent.js"></script>
</body>

</html>