<!DOCTYPE html>
<html>

<head>
    <h1>Admin Editor</h1> 
    <button onclick="logOut()">Log Out</button>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body>
    <div id="app4" class="container mt-4">
        <h3>Search a Activity: <input v-model="filterText" /></h3>
        <h3>Sort Activity by:
            <button v-on:click="sortLowest">Least Reviewed</button>
            <button v-on:click="sortHighest">Highest Reviewed</button>
            <button v-on:click="sortHighestPrice">Most Expensive</button>
            <button v-on:click="sortLowestPrice">Cheapest</button>
        </h3>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th v-for="title in columns">
                        {{ title }}
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="items in filteredActivitys">
                    <td v-for="content in columns">
                        {{items[content]}}
                    </td>
                </tr>
            <tbody>
        </table>
    </div>
    <script src="/js/tableContent.js"></script>
</body>

</html>